<nav class="navbar navbar-dark navbar-expand-lg navbar-expand-sm bg-dark fixed-top">
    <a class="navbar-brand" href="/">Covid-19-Visualiser</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="details">Details<span class="sr-only">(current)</span></a>
            </li>
            <!-- <li [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="stats">Statistics<span class="sr-only">(current)</span></a>
            </li> -->
            <li [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="india">India<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<br/>
<br/>
<br/>
