    <!-- <ul>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Credits
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.linkedin.com/in/ankur-sharma-341446b1/">Me</a>
          <a class="dropdown-item" href="https://www.linkedin.com/in/prashant-kumar-a53b4498/">Prashant</a>
        </div>
      </li>
    </ul> -->
    <!-- <a href="https://www.linkedin.com/in/ankur-sharma-341446b1/">Contact Me</a> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <div *ngIf="showWorldMap">
<app-map></app-map>
</div>
<div *ngIf="!showWorldMap">
    <app-chart></app-chart>
</div> -->